<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="global-log" />
      <appender-ref ref="validation-processing" />
      <appender-ref ref="validation-errors" />
    </root>
    
    <appender name="global-log" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{GlobalLogDir}/package-validation-global.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
    <appender name="validation-processing" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{PackageDir}/validation-processing.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="validation-errors" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{PackageDir}/validation-errors.csv" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <logger additivity="false" name="validation-processing">
      <level value="ALL"/>
      <appender-ref ref="validation-processing" />
    </logger>
    
    <logger additivity="false" name="validation-errors">
      <level value="ALL"/>
      <appender-ref ref="validation-errors" />
    </logger>
    
    <logger additivity="false" name="global-log">
      <level value="ALL"/>
      <appender-ref ref="global-log" />
      <appender-ref ref="validation-processing" />
    </logger>
  </log4net>
</configuration>